*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@font-face {
    font-family: "plante";
    src:
        url("fonts/plante-webfont.woff2") format("woff2"),
        url("fonts/plante-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

body {
    width: 1400px;
    height: 100vh;
    background: #f8f8f8;
    display: flex;
    justify-content: center;
    margin: auto;
}

.image-container img[src="plants.jpg"] {
    width: 100%;
    transform: scale(2.5);
}

.image-container {
    position: relative;
    width: 35%;
    overflow: hidden;
}

.image-container .img-text {
    width: 100%;
    height: 15%;
    top: 42.5%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #00000077;
    gap: 8px;
}

.image-container img[src="leaf.png"] {
    transform: scale(0.65);
}

.img-text h2 {
    font-size: 3rem;
    color: #ccc;
    font: 4rem "plante";
}

.image-container .photo-credit {
    position: absolute;
    font-weight: 600;
    bottom: 16px;
    left: 95px;
    color: #ccc;
}

.image-container .photo-credit a {
    color: #ccc;
}

.content-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.info-container {
    flex: 1;
    padding: 150px 180px 0px 30px;
    background-color: #eee;
    box-shadow: inset 0px -2px 6px #aaa;
}

.info-container h2 {
    margin-bottom: 20px;
}

.form-container {
    display: flex;
    flex-direction: column;
    flex: 2;
}

.form-fields {
    height: 33.33vh;
    padding: 10px 30px;
    height: 33.33vh;
    /* box-shadow: px 4px 2px #aaa; */
    background-color: #f1f1f1;
    box-shadow: 0px 2px 6px #aaa;
}

.form-submit {
    height: 33.33vh;
    padding: 40px 30px;
    background-color: #eee;
    box-shadow: inset 0px 2px 6px #aaa;
}

.form-row {
    position: relative;
    margin-bottom: 20px;
    font-size: 0.8rem;
    font-weight: 600;
}

.form-row label {
    position: absolute;
    top: -1.5em;
}

.form-row input {
    width: 250px;
    font-size: 1.05rem;
    height: 2rem;
    margin-bottom: 20px;
    margin-right: 80px;
    padding: 4px;
}

h2 {
    font-weight: 600;
    font-size: 1.4rem;
}

.form-fields h2 {
    margin-bottom: 40px;
}

button {
    border: none;
    color: #ddd;
    font-size: 1rem;
    background-color: #076338;
    border-radius: 4px;
    padding: 8px 48px;
    margin-bottom: 20px;
    transition: 0.1s;
}

button:hover {
    cursor: pointer;
    background-color: #23a066;
}

button:active {
    cursor: pointer;
    background-color: #198151;
    transform: scale(0.95);
}